<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
		<add name="CONFIG_DB" connectionString="Data Source=..\Config\Config.db;" providerName="System.Data.SQLite"/>
		<add name="ALARM_DB" connectionString="Data Source=..\Config\Alarm.db;" providerName="System.Data.SQLite"/>
	</connectionStrings>
	<appSettings>
		<!--Error/Warning/Information/Debug-->
		<add key="LOG_LEVEL" value="Information"/>
		
		<add key="SIMULATION" value="1"/>
		<add key="LOG_FILE" value="..\Logger"/>
		<add key="INOUT_FILE" value="..\Config\InOutList.txt"/>
		<add key="MOT_FILE" value="..\Config\Motion.mot"/>
	</appSettings>
</configuration>