<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
		<add name="CONFIG_DB" connectionString="Data Source=..\Config\Config.db;" providerName="System.Data.SQLite" />
		<add name="ALARM_DB" connectionString="Data Source=..\Config\Alarm.db;" providerName="System.Data.SQLite" />
	</connectionStrings>
	<appSettings>
		<!--Error/Warning/Information/Debug-->
		<add key="LOG_LEVEL" value="Information" />
		
		<add key="SIMULATION" value="1" />
		<add key="LOG_FILE" value="..\Logger" />
		<add key="INOUT_FILE" value="..\Config\InOutList.txt" />
		<add key="MOT_FILE" value="..\Config\Motion.mot" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF4.v20.1" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.1.20201.26" newVersion="20.1.20201.26" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF4.DataVisualization.v20.1" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.1.20201.26" newVersion="20.1.20201.26" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
